@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Welcome</h2>

    <form>
        <div class="col-md-2">
          
                <a href="/To_Do/Index" class="btn btn-dark">Create New To Do List</a>
            
        </div>

    </form>
</div>
