
@model Item

<div class="container mt-4">
    <div class="row mb-3 align-items-center">
        <div class="col-md-12">
            <h2 class="display-6">Create a New Category</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <form method="post">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" asp-for="Title">
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a description here" id="description" style="height: 75 px" name="Description">@Model?.Description</textarea>
                        <label for="description">Description</label>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="Deadline" class="form-label">Deadline</label>
                    <input type="datetime-local" class="form-control" id="Deadline" name="Deadline" value="@Model?.DeadLine.ToString("yyyy-MM-ddTHH:mm")" />
                    <span asp-validation-for="DeadLine" class="text-danger"></span>
                </div>

               
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {

    <partial name="_ValidationScriptsPartial">

}
